body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Solway', serif;
}

/* ------------ container ------------ */
.container{
    /*padding:10px;*/
    width:380px;
    /* center container horiz */
    margin:0 auto;
}

/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}

.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Solway', serif;
}

/* ------------ content ------------ */

.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
}

.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.complete{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.complete:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:55px;
    top:10px;
    background-color: #FFF;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.delete{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.delete:hover{
    color:#af0000;
    cursor: pointer;
}
/* ------------ add item ------------ */

.add-item{
    position: relative;
    width: 360px;
    height:40px;
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-item i{
    position: absolute;
    font-size: 40px;
    color: #4162f6;
}

.add-item input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    border: none;
    font-size: 20px;
    padding-left:10px;
}

.add-item input::placeholder {
    color: #4162f6;
    font-family: 'Solway', serif;
    font-size: 20px;
}
